.mng__root-navigator {
  &__container {

  }

  &__loader {
    &-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-icon {
      //flex: 1;
    }
  }
}
