# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.idea
# dependencies
/node_modules
/server/build/
/server/node_modules/
/client/node_modules/
/server/.idea
/client/.idea
/.pnp
.pnp.js
# testing
/coverage

# production
/build

# misc
.DS_Store
/config.env
config.env
.env.local
.env.development.local
.env.test.local
.env.production.local
package-lock.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*
